	.tbk_tabs{
		font-weight: bold !important;
		font-family: inherit !important;
		text-transform: none !important;
	}
	.tbk_title_h3{
		background-color:#d6012f;
		color: white !important;
		font-weight: bold !important;
		font-family: inherit !important;
		line-height: 2.2em !important;
		font-size: 18px !important;
		display: block !important;
		text-transform: none !important;
	}
	.tbk_table_title{
		font-weight: bold !important;
		font-family: inherit !important;
	}
	.tbk_table_info{
		width:100% !important;
		line-height: 18pt; 
	}
	.tbk_table_td{
		width:40%;
	}
	.tbk_table_trans{
		width:60%;
	}
	.tbk_btn{
		text-align: center;
		padding: 0 10px 1px;
		width: fit-content;
	}
	.tbk_danger_btn{
		background-color: #d6012f;
		color: white;
		border: 1px solid #9a0200 !important;
		border-radius: 4px
	}
	.tbk_danger_btn:hover{
		background-color: #7e031e;
	}
	.green	{
		background-color: #72C279;
	}

	div .modal-dialog {
		width: 80%;
	}
